.selectableTable__row:nth-of-type(odd) {
  background: rgba(30, 30, 52, 0.4);
}

.oscillographies__container .selectableTable {
  height: calc(100vh - 325px);
}

.selectableTable::-webkit-scrollbar {
  -webkit-appearance: none;
}

.selectableTable::-webkit-scrollbar:vertical {
  width: 10px;
}

.selectableTable::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border-top: 10px solid #19192b;
  border: 2px solid #19192b;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.selectableTable__row td {
  border-bottom: none;
  height: 20px;
  padding: 0;
  font-size: 0.75rem;
}

.selectableTable__head th {
  border-bottom: none;
  padding: 10px 0;
  color: #aaaabe;
  font-size: 0.9rem;
}
