.dateSelector {
  display: flex;
  flex-direction: row;
}

.dateSelector .selectableDay span {
  display: flex;
  flex-direction: column;
}

.dateSelector .selectableDay {
  background: #19192b;
  margin: 5px;
  padding: 15px 0;
}

.selectableDay__selected button {
  color: #31e080;
  border: 1px solid;
}
