.settings .settings__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.settings__header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings__label__file {
  cursor: pointer;
  color: #20ba87;
  text-decoration-line: underline;
  margin-left: 20px;
  font-size: 0.8rem;
}

.settings__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.settings__button .settings__button__refresh {
  border: 2px solid #20ba87;
  border-radius: 8px;
  margin-right: 10px;
  padding: 2px;
  width: 22px;
  height: 22px;
}

.settings__button .settings__button__refresh:hover {
  cursor: pointer;
}

.settings__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings__button .containerButton .button {
  border-radius: 10px;
  margin: 12px 0;
}

.settings .settings__subtitle {
  text-align: center;
  margin-top: 40px;
}

.settings .settings__outdated {
  color: #b32e2e;
  font-size: 0.8rem;
  font-weight: 200;
}

.settings__container .spinner {
  height: calc(100vh - 300px);
}
