.ide__tablesContainer__item .table {
  background: #19192b;
  border-radius: 16px;
  height: 100%;
}

.tableContainer {
  max-height: calc(100vh - 280px);
}

.tableContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tableContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border-top: 10px solid #19192b;
  border: 2px solid #19192b;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ide__tablesContainer__item > div > div > div table {
  border-spacing: 0 9px;
  border-collapse: separate;
  padding: 0 25px;
}

.tableContainer__table__head .tableContainer__table__head__item {
  border-bottom: 1px solid #242437;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  background: #19192b;
}

.tableContainer__table__body .tableContainer__table__body__item {
  border-bottom: none;
  padding: 4px 16px;
}

.tableContainer__table__body--selected {
  background: #2a2a42;
  border-radius: 6px;
}

.tableContainer__table__body .tableContainer__table__body__item:hover {
  background: #2a2a42;
  border-radius: 6px;
}
