.ide__tablesContainer__item .table {
  background: #19192b;
  border-radius: 16px;
  height: 100%;
}

.tableContainer__table__head .tableContainer__table__head__item {
  border-bottom: 1px solid #242437;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
}

.tableContainer__table__body .tableContainer__table__body__item {
  border-bottom: none;
  padding: 10px 16px;
}

.tableContainer__table__body .tableContainer__table__body__item:hover {
  background: #2a2a42;
  border-radius: 6px;
}
