.current_selector_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 22px;
}

.chip_scrollable_container .current_selector_chip {
  margin: 0px 2px 0px;
  height: min-content;
}

.MuiSelect-selectMenu em,
.MuiMenu-list li {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.chip_scrollable_container {
  display: flex;
  margin: auto;
  flex-direction: row;
  overflow-x: scroll;
  width: 30vw;
  padding: 8px 0;
}

.chip_scrollable_container_extended {
  display: flex;
  margin: auto;
  flex-direction: row;
  overflow-x: scroll;
  width: 500px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.chip_scrollable_container {
  scrollbar-width: auto;
  scrollbar-color: #282841 #19192b;
}

/* Chrome, Edge, and Safari */
.chip_scrollable_container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.chip_scrollable_container::-webkit-scrollbar-track {
  background: #19192b;
  width: 5px;
  height: 5px;
}

.chip_scrollable_container::-webkit-scrollbar-thumb {
  background-color: #282841;
  border-radius: 13px;
  width: 5px;
  height: 5px;
  border: 0px solid #ffffff;
}

/* Firefox */
.chip_scrollable_container_extended {
  scrollbar-width: auto;
  scrollbar-color: #282841 #19192b;
}

/* Chrome, Edge, and Safari */
.chip_scrollable_container_extended::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.chip_scrollable_container_extended::-webkit-scrollbar-track {
  background: #19192b;
  width: 5px;
  height: 5px;
}

.chip_scrollable_container_extended::-webkit-scrollbar-thumb {
  background-color: #282841;
  border-radius: 13px;
  width: 5px;
  height: 5px;
  border: 0px solid #ffffff;
}
