.button_vector{
    margin: 0px 3px !important;
    height: 15px;
    min-width: 15px !important;
}

.zoom_control_left_container{
    grid-area: 9 / 1 / 11 / 2;
}

.zoom_control_right_container{
    grid-area: 9 / 3 / 11 / 6;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.zoom_control{
    background: #19192b !important;
    padding: 0px !important;
    min-width: 25px !important;
    max-width: 25px !important;
    max-height: 25px !important;
    min-height: 25px !important;
}

.zoom_plus{
    grid-area: 13 / 2 / 14 / 3;
}
.zoom_minus{
    grid-area: 14 / 2 / 15 / 3;
}
.zoom_uparr{
    grid-area: 13 / 5 / 14 / 6;
    transform: rotate(90deg);
}
.zoom_downarr{
    transform: rotate(90deg);
    grid-area: 14 / 5 / 15 / 6;
}
.zoom_leftarr{
    grid-area: 14 / 4 / 15 / 5;
}
.zoom_rightarr{
    grid-area: 14 / 6 / 15 / 7;
}

.svg_graph{
    grid-area: 2 / 2 / 12 / 30;
}

.phasor_graph_container {
    display: grid;
grid-template-columns: repeat(30, 1fr);
grid-template-rows: repeat(15, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px;
}
    
