.containerInput {
  display: flex;
  flex-direction: column;
}

.containerInput__label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.containerInput__textField > div {
  height: 42px;
}

.containerInput__textField > div > input {
  padding: 10px 12px 10px;
}
