.home {
  margin: 0 46px;
}

.home__header {
  margin-top: -32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: 1px solid #242437;
}

.home__header .home__title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
}

.home__header__contentSearch .home__header__contentSearch__search {
  margin-right: 6px;
}

.home .home__subtitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 20px 0;
}

.home__substations {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 230px);
}

.home__substations__map {
  width: 50%;
  margin-right: 10px;
}

.home__substations__table {
  width: 50%;
  margin-left: 10px;
}
